
h1,h2,a,p {
  font-family: 'Darker Grotesque', sans-serif;
}

a {
  color: #000000;
}

.brand {
  color: #000000;
  text-align: left;
  line-height: 25px;
  font-weight: 700;
  font-size: 30px;
}

.lang {
  color: #333333;
  font-weight: 700;
  font-size: 16px;
}

.social {
  color: #333333;
  font-size: 20px;
}

.tiny-label {
  color: #A3A3A3;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: -2px;
}

.b-text {
  color: #333333;
  text-align: left;
  line-height: 45px;
  font-weight: 600;
  font-size: 40px;
}

.t-text {
  color: #333333;
  text-align: left;
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}

.a-text {
  color: #000000;
}


@media only screen and (max-width: 600px) {
  .worklife {
    margin-top: 70px;
  }
  .b-test {
    line-height: 35px;
    font-size: 30px;
  }
  .footer {
    margin-top: 40px;
  }
}
